*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* background-color: rgb(255, 255, 237); */
}

body{
    background-image: url('../Image/PLANO\ DE\ FUNDO.jpg');
}

.imgIndex{
    /* width: 100px;
    height: 80px; */
    height: 40vh;      /* controla o corte */
    width: 100%;
    overflow: hidden;

}
.imgIndex img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    object-position: center; 
    display: block;
}

.imgLink{

    object-position: center;    
    text-align: center;
    padding: 0px 0px 50px 0px;

}
.circulo{
    width: 290px;
    padding: 0px 50px 0px 0px;
} 

.texto{

}

.titleContainer{
    /* títulos dos containers */
}

.titleLista{
    text-align: center;
}



.containerAbout{
    height: 80px;
    padding: 10px 100px 10px 100px;
    /* 1-top; 2-right; 3-bottom; 4-left */
    margin: 30px;
    text-align: center;
}

hr{
    width: 80%;
    margin: 20px auto;
}

a{
    color: black;         
    text-decoration: none;
}
a:hover{
    color: rgb(255, 126, 126);
}

.lista{
    padding: 30px 10px 10px 300px;
    display: flex;
    gap: 50px; 
}
.lista img{
    width: 600px;
    position: static;
    left: 0px;  
    top: 0px;
}

/* Modifica o bloco todo */
.container{
    border: darksalmon; 
    box-shadow: 0px 0px 10px 1px darksalmon;
    display: flex; 
    /* justify-content: space-between; /*deixa um à esquerda, um no meio e um à direita */
    text-align: center;
    margin: 20px;    
    border-style: dashed;
}

/* Modifica cada bloco, ou objeto, individualmente */
.b1, .b2, .b3{
    text-align: center;
    width: 33%;  
    padding: 20px;

}

iframe{
    padding: 10px 100px 10px 100px;
    display: block;  
    margin: 0 auto;  
    /* width: 200px; */
}

.rodape{
    text-align: center;
    padding: 10px 10px 40px 10px;
}
